{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'myadmin/css/style.css' %}">

	<title>Greatkart- Admin</title>
</head>
<body>

{% block sidebar %}
	<!-- SIDEBAR --> {% include 'myadmin/admin_sidebar.html' %} 
	<!-- SIDEBAR -->
{% endblock sidebar %}


	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
	{% include 'myadmin/admin_navbar.html' %}
		<!-- NAVBAR -->

		<!-- MAIN -->
		{% block content %}
        
        
        
        {% endblock content %}




		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="{% static 'myadmin/script.js' %}"></script>
</body>
</html>