<!-- order_success.html -->
{% extends "greatkart/base.html" %}
{% load static %}
{% block content %}


<section class="section-content padding-y bg">
    <div class="container">
      
    
            <h2 class="text-center">Order Placed Successfully! </h2>
                <br>
                <div class="text-center">
                    <p>Your order has been placed successfully using Cash on Delivery (COD).</p>
        <p>Our delivery team will contact you soon to confirm the delivery details.</p>
        <p>Thank you for shopping with us!</p>
                </div>
    
                <div class="row">
               
                </div> <!-- row.// -->
       
    </div> <!-- container .//  -->
    <br>
    <div class="text-center">
        <a href="{% url 'my_orders' %}" class="btn btn-primary">View My orders</a>
    </div>
</section>



{% endblock content %}



